@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');


html, body {
    margin: 0;
}

div, #app {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    color: #243e66;
}

::placeholder {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

.flex {
    display: flex;
    gap: 8px;
}

.flex-grow {
    flex: 1 1 0%;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.form-group {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
}

.form-group.col {
    flex-direction: column;
}

.form-group.row {
    flex-direction: row;
}

.txt_red {
    color: red;
}

/*Custom Card Full Page*/
.p-card-body {
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*Custom Input*/
input {
    height: 40px;
    border-radius: 6px;
    border: 1px solid #dfdfe8;
}

/*Custom Button Class Submit*/
.btn_submit {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    margin-top: 40px;
    width: 100%;
    background-color: #243e66;
    border-radius: 30px;
    font-size: 18px;
    border: 0px;
}
